<% provide(:title, "StandUp Blocker") %>
<br>
<div class="row">
  <div class="col-md-2">
    <%# Render the project profile and pass parameters project and user to corretcly render it %>
    <%= render partial: 'projects/project_profile', locals: {project: @blocker.stand_up.project, user: @blocker.stand_up.user} %>
  </div>
  <div class="col-md-10">
    <%# Render the project navbar and pass parameters project and user to corretcly render it %>
    <%= render partial: 'projects/project_navbar', locals: {project: @blocker.stand_up.project, user: @blocker.stand_up.user} %>

    <div class="panel panel-default overview">
      <div class="row overview">

        <h3 class="text-center">
          <%# Shows the title %>
          <%= @blocker.title %>
        </h3>
        <hr>

        <div class="text-center">
          <%# Shows the description%>
          <p><%= @blocker.description %></p>
        </div>
        <hr>

        <div class="text-center">
          <div class="btn-group">
            <%#Ask to the policy if i should show the edit and delete button %>
            <% if policy(@blocker).edit? %>
              <%= link_to 'Edit', edit_blocker_path(@blocker),
               class: "btn btn-default"  %>
            <% end %>
            <% if policy(@blocker).destroy? %>
              <%= link_to 'Delete', blocker_path(@blocker), method: :delete,
               class: "btn btn-default", data: {confirm: 'Are you sure?'} %>
            <% end %>
          </div>
        </div>
        <br><br>
        <div class="col-md-8 col-md-offset-2">
          <%= pluralize(@blocker.answers.count, 'Answer') %>
          <table class="table">
            <% @blocker.answers.each do |answer| %>
              <tr>
                <td>
                  <% if policy(answer).destroy? %>
                    <%= link_to 'Delete', answer_path(answer), data: {confirm: 'Are you sure?'}, method: :delete %>
                  <% end %>
                  <div class="text-center">
                    <%= answer.answer %>
                  </div>

                  <div class="col-md-5 col-md-offset-7">
                    <div class="col-md-12">
                      answered
                      <%= distance_of_time_in_words( answer.created_at, DateTime.current) %> ago.<br/>
                    </div>
                    <div class="col-md-3">
                      <%= image_tag answer.user.gravatar_url %>
                    </div>
                    <%= link_to answer.user.username, answer.user %>
                  </div>
                </td>
              </tr>
            <% end %>
            <tr>
              <td>
                <%= render partial: "answer/form"%>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
