<h1 class="text-center">
  <%= @blocker.title %>
</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="text-center panel-title">Description: </h3>
      </div>
      <div class="text-center panel-body">
        <p><%= @blocker.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="btn-group">
    <% if policy(@blocker).edit? %>
      <%= link_to 'Edit', edit_blocker_path(@blocker),
       class: "btn btn-primary btn-lg"  %>
    <% end %>
    <% if policy(@blocker).destroy? %>
      <%= link_to 'Delete', blocker_path(@blocker), method: :delete,
       class: "btn btn-primary btn-lg" %>
    <% end %>
    <%= link_to 'Back', (request.referrer || stand_ups_path),
     class: "btn btn-primary btn-lg" %>
  </div>
</div>
