<% provide(:title, "Home") %>

<%= render 'new_advise' %>

<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <%# Notifications %>
    <table class="table">
      <% @activities.each do |activity| %>
        <tr>
          <%# Filtrate only the notifications thath the current user can see %>
          <% if(current_user.projects.inject(false) {|result, project| result or project.member? activity.owner }) %>
            <td>
              <div class="row">
                <%= render_activity activity %>
              </div>
            </td>
          <% end %>
      </tr>
      <% end %>
    </table>
    <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Projects
      </div>
      <div class="panel-body">
        <table class="table">
          <% if @projects.any? %>
            <% @projects.each do |project| %>
              <tr>
                <td>
                  <%= link_to project.name, project_path(project) %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <p>You aren't on any project yet</p>
          <% end %>
        </table>
        <%= will_paginate @projects, :page_links => false, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
