<%= form_for @task do |form| %>

<% if @task.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@task.errors.count, "error") %> prohibited
    this task from being saved:</h2>
  <ul>
  <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <p>
        <div class="text-center">
        <%= form.label :title%><br/>
      </div>
        <%= form.text_field :title, class: "form-control text-center" %>
      </p>

      <p>
        <div class="text-center">
        <%= form.label :description%><br/>
      </div>
        <%= form.text_area :description, class: "form-control text-center" %>
      </p>
      <div class="text-center">
          <%= form.submit :class => "btn btn-lg btn-primary" %>
          <%= link_to 'Back', (request.referrer || stand_ups_path),
          class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
