<h1 class="text-center">
  <%= @task.title %>
</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="text-center panel-title">Description: </h3>
      </div>
      <div class="text-center panel-body">
        <p><%= @task.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="btn-group">
    <% if policy(@task).edit? %>
      <%= link_to 'Edit', edit_task_path(@task),
       class: "btn btn-primary btn-lg"  %>
    <% end %>
    <% if policy(@task).destroy? %>
      <%= link_to 'Delete', task_path(@task), method: :delete,
       class: "btn btn-primary btn-lg" %>
    <% end %>
    <%= link_to 'Back', (request.referrer || stand_ups_path),
     class: "btn btn-primary btn-lg" %>
  </div>
</div>
