<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if current_page?(user_path(user)) %>">
    <%= link_to 'WorkGroups', user_path(user) %>
  </li>
  <li role="presentation" class="<%= 'active' if current_page?(user_projects_path(user)) %>">
    <%= link_to 'Projects', user_projects_path(user) %>
  </li>
  <li role="presentation" class="<%= 'active' if
  (current_page?(mailbox_inbox_path(user)) || current_page?(mailbox_sent_path(user)) || current_page?(mailbox_trash_path(user)) || current_page?(new_conversation_path) || current_page?(conversation_path) ) %>">
    <%= link_to 'Messages', mailbox_inbox_path(user) %>
  </li>
</ul>
