<ul class="nav nav-tabs">
  <li role="presentation" class="<%= user_active_page(:show) %>">
    <%= link_to 'WorkGroups', user_path(user) %>
  </li>
  <li role="presentation" class="<%= user_active_page(:show_projects) %>">
    <%= link_to 'Projects', user_projects_path(user) %>
  </li>
  <li role="presentation" class="<%= user_active_page(:messages) %>">
    <%= link_to 'Messages', mailbox_inbox_path(user) %>
  </li>
</ul>
