<div class="row">
  <br>
  <div class="col-md-2">
    <%= render 'user_profile', :user => @user %>
  </div>

  <div class="col-md-10">
    <%= render 'user_navbar', :user => @user %>
    <table class="table table-hover text-center">
      <tr>
        <th class="text-center">Work Groups</th>
        <th class="text-center">Owner</th>
        <th class="text-center">Amount of Projects</th>
      </tr>
      <% if @user.work_groups.present? %>
        <% @user.work_groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, work_group_path(group) %></td>
            <td>
              <% (User.with_role :owner, group).each do |user| %>
                <%= link_to user.username, user %>
              <% end %>
            </td>
            <td>
              <%= group.projects.count %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>You are not in any group</td>
          <td>You are not in any group</td>
        </tr>
      <% end %>
    </table>

    <div class="panel panel-primary">
      <div class="panel-heading">
        Messages
      </div>
      <div class="panel-body">
        <table class="table">
          <% @user.mailbox.notifications.each do |notification| %>
            <tr>
              <td>
                <h4><%= notification.subject %></h4>
                <p>
                  <small><%= distance_of_time_in_words( notification.created_at, DateTime.current) %> ago.</small><br/>
                  <%= notification.body %>
                </p>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
