<div class="row">
  <br>
  <div class="col-md-2">
    <%= render 'user_profile', :user => @user %>
  </div>

  <div class="col-md-10">
    <%= render 'user_navbar', :user => @user %>

    <div class="panel panel-default">

      <br>
      <div class="row overview">
        <h3 class="col-md-4">Basic Information</h3>
        <table class="table">
          <tr>
            <th>
              Username
            </th>
            <td>
              <%= @user.username %>
            </td>
          </tr>
          <tr>
            <th>
              Email
            </th>
            <td>
              <%= @user.email %>
            </td>
          </tr>
          <tr>
            <th>
              First name
            </th>
            <td>
              <% if @user.profile.first_name %>
                <%= @user.profile.first_name %>
              <% else %>
                Name not specified
              <% end %>
            </td>
          </tr>
          <tr>
            <th>
              Last name
            </th>
            <td>
              <% if @user.profile.last_name %>
                <%= @user.profile.last_name %>
              <% else %>
                Last name not specified
              <% end %>
            </td>
          </tr>
          <tr>
            <th>
              Age
            </th>
            <td>
              <% if @user.profile.date_of_birth %>
                <%= ((Date.current - @user.profile.date_of_birth).to_i / 365) %>
              <% else %>
                Age not specified
              <% end %>
            </td>
          </tr>
          <tr>
            <th>
              Languages
            </th>
            <td>
              <% if @user.profile.languages.any? %>
                <% languages = [] %>
                <% @user.profile.languages.each do |language| %>
                  <% languages << language.language %>
                <% end %>
                <%= languages.join(", ") %>
              <% else %>
                Languages not specified
              <% end %>
            </td>
          </tr>
        </table>


          <div class="col-md-11 col-md-offset-1">
            <br>
            <% if @user == current_user or current_user.has_role? :admin %>
              <%= link_to 'Edit Registration', edit_user_registration_path(@user), class: "btn btn-default" %>
            <% end %>

            <% if policy(@user.profile).update? %>
              <%= link_to 'Edit Profile', edit_profile_path(@user.profile), class: "btn btn-default" %>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>
