<ul class="nav nav-tabs">
  <li role="presentation" class="<%= project_active_page(:show) %>">
    <%= link_to 'StandUps', project_path(project) %>
  </li>
  <li role="presentation" class="<%= project_active_page(:show_activities) %>">
    <%= link_to 'Last Activities', project_activities_path(project) %>
  </li>
  <% if policy(project).show_blockers? %>
    <li role="presentation" class="<%= project_active_page(:show_blockers) %>">
      <%= link_to 'Blockers' %>
    </li>
  <% end %>
  <% if policy(project).show_manage? %>
    <li role="presentation" class="<%= project_active_page(:show_manage) %>">
      <%= link_to 'Manage', project_manage_path(project) %>
    </li>
  <% end %>
</ul>
