<%= form_for @workGroup do |form| %>

<% if @workGroup.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@workGroup.errors.count, "error") %> prohibited
    this workGroup from being saved:</h2>
  <ul>
  <% @workGroup.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <div class="text-center">
        <h3><%= form.label :name %></h3>
      </div>
      <%= form.text_field :name, class: "form-control text-center" %>
      <br/>
      <div class="text-center">
        <%= form.submit :class => "btn btn-lg btn-primary" %>
        <%= link_to 'Back', (request.referrer || stand_ups_path),
        class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
