<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if current_page?(work_group_path) %>">
    <%= link_to 'Last Activities', work_group_path %>
  </li>
  <li role="presentation" class="<%= 'active' if current_page?(work_group_projects_path) %>">
    <%= link_to 'Projects', work_group_projects_path %>
  </li>
  <li role="presentation" class="<%= 'active' if current_page?(work_group_chat_path) %>">
    <%= link_to 'Chat', work_group_chat_path %>
  </li>
  <% if policy(@workGroup).show_manage? %>
    <li role="presentation" class="<%= 'active' if current_page?(work_group_manage_path) %>">
      <%= link_to 'Manage', work_group_manage_path %>
    </li>
  <% end %>
</ul>
