<h1 class="text-center">WorkGroups</h1>

<br/><br/>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'search' %>
      <table class="table table-hover text-center">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Owner</th>
          <th class="text-center">Members</th>
          <th class="text-center">Projects</th>
          <th></th>
        </tr>
        <% if @workGroups.present? %>
          <% @workGroups.each do |workGroup| %>
            <tr>
              <td>
                <strong><%= workGroup.name %></strong>
              </td>
              <td>
                <% owners = User.with_role :owner, workGroup %>
                <% owners.each do |owner| %>
                  <%= link_to owner.username, user_path(owner) %>
                <% end %>
              </td>
              <td>
                <%= workGroup.users.count %>
              </td>
              <td>
                <%= workGroup.projects.count %>
              </td>
              <td>
                <% if policy(workGroup).request_for_join? %>
                  <%= form_tag request_for_join_path do %>
                    <%= hidden_field_tag :work_group_id, workGroup.id %>
                    <%= submit_tag "Request for Join", class: "btn btn-default" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No coincidences</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @workGroups, :page_links => false, renderer: BootstrapPagination::Rails %>
    <div class="text-center">
      <p>
        <% if policy(WorkGroup).new? %>
          <%= link_to 'New WorkGroup', new_work_group_path, class: "btn btn-default" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
