<% provide(:title, "WorkGroup") %>

<div class="row">
  <br>
  <div class="col-md-2">
    <%= render partial: 'work_group_profile', locals: { work_group: @workGroup } %>
  </div>
  <div class="col-md-10">
    <%= render 'work_group_navbar' %>
    <table class="table table-hover">
      <tr>
        <th>Project</th>
        <th>Manager</th>
        <th>Product Owner</th>
        <th>Scrum Master</th>
        <th></th>
        <th></th>
      </tr>
      <% @workGroup.projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.name, project_path(project) %>
        </td>
        <td>
          <% if (User.with_role :manager, project).any? %>
            <% (User.with_role :manager, project).each do |user| %>
              <%= link_to user.username, user_path(user)%>
            <% end %>
          <% else %>
            <p>
              No Manager assigned
            </p>
          <% end %>
        </td>
        <td>
          <% if (User.with_role :product_owner, project).any? %>
            <% (User.with_role :product_owner, project).each do |user| %>
              <%= link_to user.username, user_path(user)%>
            <% end %>
          <% else %>
            <p>
              No Product Owner assigned
            </p>
          <% end %>
        </td>
        <td>
          <% if (User.with_role :scrum_master, project).any? %>
            <% (User.with_role :scrum_master, project).each do |user| %>
              <%= link_to user.username, user_path(user)%>
            <% end %>
          <% else %>
            <p>
              No Scrum Master assigned
            </p>
          <% end %>
        </td>
        <td>
          <% if project.member? current_user %>
            <%= link_to 'Leave', project_leave_path(:project_id=> project.id), :method => :post, class: "btn btn-default" %>
          <% else %>
            <%= link_to 'Join', project_join_path(:project_id => project.id), :method => :post, class: "btn btn-default" %>
          <% end %>
        </td>
        <td>
          <% if policy(project).destroy? %>
            <%= link_to 'Delete', project_path(project), method: :delete, class: "btn btn-default" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
