<% provide(:title, "WorkGroup") %>
<br/>
<h1 class="text-center"><%= @workGroup.name %></h1>
<br/>
<br/>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if policy(@workGroup).manage? %>
    <div class="text-center">
      <%= link_to 'Manage Group', manage_path, class: "btn btn-primary btn-lg" %>
    </div>
    <% end %>
    <br/>
    <br/>
    <div class="panel">
      <table class="table table-hover text-center">
        <tr>
          <th class="text-center">Projects</th>
          <th class="text-center">Options</th>
        </tr>
        <%#Show in a table the projects avaible and a button to join or leave%>
        <% @workGroup.projects.each do |project| %>
          <tr>
            <td>
              <%= link_to project.name, project_path(project) %>
            </td>
            <td>
              <% if project.member? current_user %>
                <%= link_to "Leave", leave_path(project), :method => :post, class: "btn btn-primary" %>
              <% else %>
                <%= link_to "Join", join_path(project), :method => :post, class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="text-center">
      <%= link_to 'New Project', new_project_path(:work_group => @workGroup.id), class: "btn btn-primary"%>
    </div>
  </div>
</div>
