<%= form_for [@project, @standUp] do |form| %>
<div class="col-md-6">
  <h2 class="text-center">Today</h2>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="text-center panel-title">Tasks</h3>
    </div>

    <div class="panel-body">
      <%# Creates a fields_for to request for attributes of task%>
      <%= form.fields_for :tasks do |task| %>
        <div class="form-group">
          <%= task.label :description %>
          <%= task.text_field :description, class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="text-center panel-title">Blockers</h3>
    </div>

    <div class="panel-body">
      <%# Creates a fields_for to request for attributes of blockers%>
      <%= form.fields_for :blockers do |blocker| %>
        <%= blocker.label :title %>
        <%= blocker.text_field :title, class: "form-control" %><br/>
        <%= blocker.label :description %>
        <%= blocker.text_area :description, class: "form-control" %>
      <% end %>
    </div>
  </div>
</div>
<div class="text-center">
  <%= form.submit :class => 'btn btn-primary btn-lg'%>
  <%= link_to 'Back', (request.referrer || stand_ups_path),
   class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
