<% provide(:title, "Project") %>
<br>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'projects/project_profile', locals: {project: @standUp.project, user: @standUp.user} %>
  </div>
  <div class="col-md-10">
    <%= render partial: 'projects/project_navbar', locals: {project: @standUp.project, user: @standUp.user} %>

    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>

    <div class="row">
      <%= render 'yesterday' %>

      <%= render 'form' %>
    </div>
  </div>
</div>
