<% provide(:title, "Project") %>
<br>
<div class="row">
  <div class="col-md-2">
    <%# Render the project profile and pass parameters project and user to corretcly render it %>
    <%= render partial: 'projects/project_profile', locals: {project: @standUp.project, user: @standUp.user} %>
  </div>
  <div class="col-md-10">
    <%# Render the project profile and pass parameters project and user to corretcly render it %>
    <%= render partial: 'projects/project_navbar', locals: {project: @standUp.project, user: @standUp.user} %>

    <div class="panel panel-default overview">
      <div class="row overview">

        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <%# Show the stand_up created_at date as a title%>
              <h1><%= @standUp.created_at.to_s(:long) %></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <div class="btn-group">
                <%# Previous button %>
                <% if @standUps.size > 1 #Do this to check if it is the first standUp %>
                  <% if @standUp.created_at == nil #check if I am on new%>
                    <%= link_to 'Previous', stand_up_path(@standUps.first), class: "btn btn-default" %>
                  <% else %>
                    <%= link_to 'Previous', stand_up_path(@standUps.second), class: "btn btn-default" %>
                  <% end %>
                <% else %>
                  <%# if im on the first stand_up there arent previous stand_ups %>
                  <%= link_to 'Previous', "#", class: "btn btn-default disabled" %>
                <% end %>

                <%# Next button %>
                <% if @next_standUp.any? #Do this to check if I am on the last stand up %>
                  <%= link_to 'Next', stand_up_path(@next_standUp.first), class: "btn btn-default" %>
                <% else %>
                  <% if @standUp.user == current_user  %>
                    <%= link_to 'Next', new_project_stand_up_path(@standUp.project), class: "btn btn-default" %>
                  <% else %>
                    <%= link_to 'Next', nil, class: "btn btn-default disabled" %>
                  <% end %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
        <div class = "row">
          <%# I first Render the view of the last standUp%>
          <%= render 'yesterday' %>

          <%# Then I render the view of the new standUp%>
          <%= render 'today' %>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">

              <div class="btn-group ">
                <%#I ask the policy if the user can edit and delete%>
                <% if policy(@standUp).edit? %>
                  <%= link_to 'Edit', edit_stand_up_path(@standUp),
                   class: "btn btn-default"  %>
                <% end %>
                <% if policy(@standUp).destroy? %>
                  <%= link_to 'Delete', stand_up_path(@standUp), method: :delete,
                   class: "btn btn-default" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
