<% provide(:title, "Project") %>
<br>
<div class="row">
  <div class="col-md-2">
    <%= render partial: 'projects/project_profile', locals: {project: @standUp.project, user: @standUp.user} %>
  </div>
  <div class="col-md-10">
    <%= render partial: 'projects/project_navbar', locals: {project: @standUp.project, user: @standUp.user} %>

    <ol class="breadcrumb">
      <%= render_breadcrumbs :tag => :li, :separator => "" %>
    </ol>
    <div class = "row">
      <%# I first Render the view of the last standUp%>
      <%= render 'yesterday' %>

      <%# Then I render the view of the new standUp%>
      <%= render 'today' %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="btn-group ">
            <%= link_to 'New', new_project_stand_up_path(@standUp.project),
             class: "btn btn-default" %>
            <%#I ask the policy if the user can edit and delete%>
            <% if policy(@standUp).edit? %>
              <%= link_to 'Edit', edit_stand_up_path(@standUp),
               class: "btn btn-default"  %>
            <% end %>
            <% if policy(@standUp).destroy? %>
              <%= link_to 'Delete', stand_up_path(@standUp), method: :delete,
               class: "btn btn-default" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
